.comment-box {
    padding: 20px 0 0;
    margin-top: 5px;
    position: relative;
    border-bottom: 1px solid rgba(224, 224, 224, 0.568);
}

.comment-item {
    word-break: break-all;
    margin: 5px;
}


.comment__item--time {
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 10px;
    text-transform: lowercase;
}