.question-container {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: moveInFromLeft 1s ease-out;
}


.header-animated {
    animation: moveInFromBottom 1s ease-out;
}


.hero-banner {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.308)),
        linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-position: center;
    animation: gradient 15s ease infinite;
    position: relative;
}

.hero-banner h1 {
    text-align: center;
    white-space: pre-wrap;
    word-break: break-all;
}

.hero-banner h1 span {
    font-family: 'Montserrat';
    letter-spacing: 20px;
    font-weight: 100;
    color: #fff;
    font-size: 5rem;
    display: inline-block;
}


.qr-code-canvas {
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 300px) and (max-width: 734px) {
    .hero-banner h1 span {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 300px) {
    .hero-banner h1 span {
        font-size: 1rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}