.question-container {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: moveInFromLeft 1s ease-out;
}


.header-animated {
    animation: moveInFromBottom 1s ease-out;
}

@keyframes moveInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}