.question-container {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(145, 141, 141) , rgb(255, 0, 128));
    border-image-slice: 1;
    margin: 20px 0;
    padding: 15px 20px;
}

.question-container h4 {
    padding: 20px 0 5px;
}

.comment-input-box {
    margin-top: 20px;
}

.comment-input-box textarea {
    height: 15vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    resize: none;
}