nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.212)), linear-gradient(to right, rgba(253, 38, 74, 0.623), rgb(250, 117, 217));
}

.navbar-brand {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

nav ul li:not(:last-child) {
    margin-right: 30px;
}

.nav-link {
    padding: 10px 0 0 2px;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(252, 64, 95);
}

.nav-toggle {
    display: flex;
}


.hamburger {
    position: absolute;
    top: 7px;
    right: -15px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.hamburger-icon {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #fff;
    position: relative;
}

.hamburger-icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    top: -5px;
}

.hamburger-icon::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    top: 5px;
}


.hamburger-cross {
    background-color: transparent;
    transition: all 0.4s;
}

.hamburger-cross::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.4s;
}

.hamburger-cross::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.4s;
}


@media only screen and (max-width: 600px){
    nav,
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav div {
        margin: 10px 20px;
    }

    nav ul {
        width: 100%;
        text-align: center;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .nav-link:hover {
        border-bottom: 2px solid transparent;
    }

    .nav-toggle {
        display: none;
    }

    .hamburger {
        display: block;
    }
}