nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

nav ul li {
    margin-right: 50px;
}

.nav-link {
    padding: 10px 0 0 2px;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(252, 64, 95);
}

.nav-toggle {
    display: flex;
}


.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    display: none;
}

.hamburger-icon {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #4a4a4a;
    position: relative;
}

.hamburger-icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4a4a4a;
    top: -5px;
}

.hamburger-icon::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4a4a4a;
    top: 5px;
}


.hamburger-cross {
    background-color: transparent;
    transition: all 0.4s;
}

.hamburger-cross::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.4s;
}

.hamburger-cross::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.4s;
}


@media only screen and (max-width: 600px){
    nav,
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav div {
        margin: 10px 20px;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        text-align: center;
    }

    .nav-toggle {
        display: none;
    }

    .hamburger {
        display: block;
    }
}